root {
    --base00: #fff;
    --base01: #f5f5f5;
    --base02: #c8c8fa;
    --base03: #565c64;
    --base04: #030303;
    --base05: #333;
    --base06: #fff;
    --base07: #9a6700;
    --base08: #bc4c00;
    --base09: #087990;
    --base0A: #795da3;
    --base0B: #183691;
    --base0C: #183691;
    --base0D: #795da3;
    --base0E: #a71d5d;
    --base0F: #333;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #80D4D8;
    --bs-secondary: #CDF6F8;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 128, 212, 216;
    --bs-secondary-rgb: 205, 246, 248;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../font/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../font/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../font/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

  /* montserrat-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../font/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
    src: url('../font/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../font/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../font/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
    src: url('../font/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../font/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  /* Quelle: https://gwfh.mranftl.com/font/montserrat?subsets=latin */
  body {
    font-family: Montserrat;
}

main {
	/* Naboar offset */
	/* 8 (Margin Top) + 40 (Heihgt) + 8 (Margin Bottom)  */
	margin-top: 56px;
}

/* Bewertung Sterne */

.menu-item .stars {
  color: #F58d17;
}

.shadow-on-hover {
  transition: all 0.3s;
}

.shadow-on-hover:hover{
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}


.rating{}

.rating >*{
  float: right;
}

.rating label{
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}

.rating label::after{
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "\2606";
  color: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 80px;
  -webkit-animation: 1s pulse ease;
  animation: 1s pulse ease;
}

.rating label:hover::after{
  color: #5e5e5e;
  text-shadow: 0 0 15 #5e5e5e;
}

.rating input{
  display: none;
}

.rating input:checked + label::after,
.rating input:checked ~ label::after{
  content: "\2605";
  color: #F58d17;
  text-shadow: 0 0 15px #F58d17;
}

/* Farbe Button */

.btn-primary{
  --bs-btn-color: #000000;
  --bs-btn-bg: #80D4D8;
  --bs-btn-border-color: #80D4D8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #80D4D8;
  --bs-btn-hover-border-color: #80D4D8;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #80D4D8;
  --bs-btn-active-border-color: #80D4D8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #80D4D8;
  --bs-btn-disabled-border-color: #80D4D8;
}

/* Cards */

/* Slider */

.carousel-img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {

  .carousel-img {
    height: 400px;
  }
}